########################
# node.js / npm
########################
node_modules
npm-debug.log

########################
# misc / editors
########################
*~
*#
**/.DS_STORE/**
**/.netbeans/**
**/.idea/**
**/tmp/**

**report.xml**
**config.js**
